doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Lesson Info
  link(rel='stylesheet', href='/css/common.css')
  link(rel='stylesheet', href='/css/signUp.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4', crossorigin='anonymous')
  //- link(rel='stylesheet', type='text/css', href='./style.css')

include /navbar.pug

body
  .container(style='height: auto;')
    .row
      article.col-9
        video(controls)
          source(src='#', type='video/mp4')
        br
        button.btn.btn-success
          a(href='/show_lessons', style='text-decoration: none; color: #fff') Back
      aside.col-3
        .poly-card
          .card
            .card-header(align='center')
              strong(style='font-size: 1.2rem;')
                | Admin
            .card-body(align='center')
              img(src='../images/account.png')
          .card
            .card-header
              i.fa.fa-list
                strong(style='font-size: 1.2rem;')
                  |   Danh sach chuc nang
            .card-body
              .list-group.list-group-flush
                a(href='#', style='text-decoration: none;')
                  li.list-group-item Quan ly khoa hoc
                a(href='#', style='text-decoration: none;')
                  li.list-group-item Quan ly bai giang
                a(href='#', style='text-decoration: none;')
                  li.list-group-item Quan ly bai kiem tra
                a(href='#', style='text-decoration: none;')
                  li.list-group-item Quan ly hoc sinh

include /footer.pug    